GNAVBMForm/GNAVBMForm/Connected Services/GetCognomSocio/GetinfocognomnomSoci.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInfoSoci">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codiceFiscale" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoSociResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoSociResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoUserByIdSocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idsocio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInfoUserByIdSocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInfoUserByIdSocioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInfoSociSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoSoci" />
  </wsdl:message>
  <wsdl:message name="GetInfoSociSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoSociResponse" />
  </wsdl:message>
  <wsdl:message name="GetInfoUserByIdSocioSoapIn">
    <wsdl:part name="parameters" element="tns:GetInfoUserByIdSocio" />
  </wsdl:message>
  <wsdl:message name="GetInfoUserByIdSocioSoapOut">
    <wsdl:part name="parameters" element="tns:GetInfoUserByIdSocioResponse" />
  </wsdl:message>
  <wsdl:portType name="GetinfocognomnomSociSoap">
    <wsdl:operation name="GetInfoSoci">
      <wsdl:input message="tns:GetInfoSociSoapIn" />
      <wsdl:output message="tns:GetInfoSociSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInfoUserByIdSocio">
      <wsdl:input message="tns:GetInfoUserByIdSocioSoapIn" />
      <wsdl:output message="tns:GetInfoUserByIdSocioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetinfocognomnomSociSoap" type="tns:GetinfocognomnomSociSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoSoci">
      <soap:operation soapAction="http://tempuri.org/GetInfoSoci" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoUserByIdSocio">
      <soap:operation soapAction="http://tempuri.org/GetInfoUserByIdSocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetinfocognomnomSociSoap12" type="tns:GetinfocognomnomSociSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInfoSoci">
      <soap12:operation soapAction="http://tempuri.org/GetInfoSoci" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInfoUserByIdSocio">
      <soap12:operation soapAction="http://tempuri.org/GetInfoUserByIdSocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetinfocognomnomSoci">
    <wsdl:port name="GetinfocognomnomSociSoap" binding="tns:GetinfocognomnomSociSoap">
      <soap:address location="http://localhost:65202/GetinfocognomnomSoci.asmx" />
    </wsdl:port>
    <wsdl:port name="GetinfocognomnomSociSoap12" binding="tns:GetinfocognomnomSociSoap12">
      <soap12:address location="http://localhost:65202/GetinfocognomnomSoci.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>