GNAVBMForm/GNAVBMForm/Connected Services/WebServicegna/CalcoloCodiceFiscale.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="calcolocodicefiscaleV2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cognome" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datanascita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comunenascita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sesso" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcolocodicefiscaleV2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="calcolocodicefiscaleV2Result" type="tns:codfisc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="codfisc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="codicefiscale" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="codiceestero" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="calcolocodicefiscaleV2SoapIn">
    <wsdl:part name="parameters" element="tns:calcolocodicefiscaleV2" />
  </wsdl:message>
  <wsdl:message name="calcolocodicefiscaleV2SoapOut">
    <wsdl:part name="parameters" element="tns:calcolocodicefiscaleV2Response" />
  </wsdl:message>
  <wsdl:portType name="CalcoloCodiceFiscaleSoap">
    <wsdl:operation name="calcolocodicefiscaleV2">
      <wsdl:input message="tns:calcolocodicefiscaleV2SoapIn" />
      <wsdl:output message="tns:calcolocodicefiscaleV2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcoloCodiceFiscaleSoap" type="tns:CalcoloCodiceFiscaleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calcolocodicefiscaleV2">
      <soap:operation soapAction="http://tempuri.org/calcolocodicefiscaleV2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcoloCodiceFiscaleSoap12" type="tns:CalcoloCodiceFiscaleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calcolocodicefiscaleV2">
      <soap12:operation soapAction="http://tempuri.org/calcolocodicefiscaleV2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcoloCodiceFiscale">
    <wsdl:port name="CalcoloCodiceFiscaleSoap" binding="tns:CalcoloCodiceFiscaleSoap">
      <soap:address location="http://localhost:65202/CalcoloCodiceFiscale.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcoloCodiceFiscaleSoap12" binding="tns:CalcoloCodiceFiscaleSoap12">
      <soap12:address location="http://localhost:65202/CalcoloCodiceFiscale.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>